.newPost {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    height: 500px;
    width: 700px;
    margin: auto;
    border: double;
    border-radius: 40px;
    border-width: 10px;
    margin-bottom: 70px;
}

.postName {
    margin-bottom: 10px;
    font-size: 30px;
    padding-bottom: 0;
}

img {
    height: 300px;
    width: 500px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(196, 196, 196);
}
